/*
div {
	outline: 5px dotted grey;
}
*/

.parent {
	display: grid;
	grid-template-columns: 60px 1fr 60px;
	grid-template-rows: 60px 52px 1fr 60px;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.tulsa-logo {
	grid-area: 1 / 1 / 2 / 2;
	background-color: #F8F1E0;
}

.tulsa-title {
	grid-area: 1 / 2 / 2 / 3;
	font-family: "Titillium Web", sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 40px;
	padding-left: 10px;
	background-color: #F8F1E0;
}

.tulsa-avatar {
	grid-area: 1 / 3 / 2 / 4;
	font-family: "Titillium Web", sans-serif;
	text-align: right;
	padding: 5px;
	background-color: lightgray;
}

.tulsa-menu {
	grid-area: 2 / 1 / 3 / 4;
	font-family: "Titillium Web", sans-serif;
	background-color: black;
	color: white;
	overflow: hidden;
	background-color: black;
}

.tulsa-body {
	grid-area: 3 / 1 / 4 / 4;
	font-family: "Titillium Web", sans-serif;
	padding: 10px;
}

.tulsa-footer {
	grid-area: 4 / 1 / 5 / 4;
	font-family: "Titillium Web", sans-serif;
	background-color: #5f6062;
	color: white;
	padding: 10px;
	font-size: small;
}

.avatar {
	padding-left: 10px;
	float: right;
}

ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	text-decoration: none;
}

li {
	flex: 0 200px;
	height: 200px;
	margin: 10px;
	padding: 10px;
	border: 1px solid silver;
	border-radius: 25px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
}

.side-by-side {
	display: flex;
	padding-left: 10px;
	width: 75px;
}

.button {
	border: none;
	border-radius: 8px;
	padding: 5px;
	background-color: #00628f;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	width: 100px;
}

.button:disabled,
.button[disabled] {
	border: none;
	border-radius: 8px;
	padding: 5px;
	background-color: gray;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	width: 100px;
}

.widebutton {
	border: none;
	border-radius: 8px;
	padding: 5px;
	background-color: #00628f;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	width: 150px;
}

.widebutton:disabled,
.widebutton[disabled] {
	border: none;
	border-radius: 8px;
	padding: 5px;
	background-color: gray;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	width: 150px;
}

#list th,
td {
	padding: 5px;
}

#list th {
	background-color: black;
	text-align: center;
	color: white;
}

#list tr:nth-child(even) {
	background-color: #f2f2f2;
}

.tulsa-menu a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.tulsa-menu a:hover,
.dropdown:hover .dropbtn {
	background-color: darkgray;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}